* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul: #1a91da;
}

body {
  background: #e6ecf0;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, sans-serif;
} */

/* input,
a,
p,
button,
strong,
span,
small {
  font-family: Lexend, sans-serif;
} */

input,
button {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #667580;
}

img {
  width: 20px;
}

img.logo-twitter {
  width: 25px;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

header#main-header {
  height: 46px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

header#main-header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

header#main-header nav ul {
  display: flex;
  list-style: none;
}

header#main-header nav a {
  display: flex;
  align-items: center;
  gap: 7px;
}

header#main-header nav ul li {
  font-size: 13px;
  color: #667580;
  font-weight: bold;
  font-family: sans-serif;

  margin-left: 30px;
}

header#main-header nav ul li img {
  filter: invert(48%) sepia(24%) saturate(267%) hue-rotate(163deg) brightness(88%) contrast(87%);
}

header#main-header nav ul li:first-child {
  margin: 0;
}

header#main-header div.side {
  display: flex;
  align-items: center;
}

header#main-header div.side #search {
  position: relative;
}

header#main-header div.side input {
  background: #f5f8fa;
  border: 1px solid #e6ecf0;
  height: 34px;
  padding-right: 23px;
  padding-left: 4px;
  border-radius: 16px;
  color: #667581;
  font-size: 12px;
  font-weight: 500;
  width: 220px;
}

header#main-header div.side div img.search {
  position: absolute;
  right: 4px;
  top: 8px;
  width: 16px;
  filter: invert(48%) sepia(24%) saturate(267%) hue-rotate(163deg) brightness(88%) contrast(87%);
}

header#main-header div.side img.icon-user-nav {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin: 0 15px;
}

header#main-header div.side button {
  background: var(--azul);
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  font-weight: bold;
  font-size: 14px;
  border: none;
  color: #fff;
  border-radius: 16px;
}

div.banner {
  height: 380px;
  width: 100%;
  background: var(--azul);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}

div.bar {
  height: 59px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

div.bar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 285px;
  height: 100%;
}

div.bar .content ul {
  display: flex;
  list-style: none;
  height: 100%;
}

div.bar .content ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
  position: relative;
}

div.bar .content ul li.active::after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--azul);
}

div.bar .content ul li span {
  color: #667580;
  font-size: 12px;
  font-weight: bold;
}

div.bar .content ul li strong {
  color: #667580;
  font-size: 18px;
  font-weight: bold;
  margin-top: 2px;
}

div.bar .content ul li.active strong {
  color: var(--azul);
}

div.bar .content .actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

div.bar .content .actions img {
  filter: invert(48%) sepia(24%) saturate(267%) hue-rotate(163deg) brightness(88%) contrast(87%);
}

div.bar .content .actions button {
  height: 34px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid var(--azul);
  color: var(--azul);
  border-radius: 16px;
}

div.wrapper-content {
  display: flex;
}

div.wrapper-content aside.profile {
  width: 260px;
}

div.wrapper-content aside.profile img {
  width: 14px;
  height: 14px;
}

div.wrapper-content aside.profile img#user {
  height: 200px;
  width: 200px;
  border: 5px solid #fff;
  border-radius: 50%;
  margin-top: -130px;
}

div.wrapper-content aside.profile h1 {
  font-size: 21px;
  color: #1f2226;
  margin-top: 10px;
}

div.wrapper-content aside.profile span {
  font-size: 14px;
  color: #53626c;
}

div.wrapper-content aside.profile p {
  color: #1f2226;
  font-size: 14px;
  margin-top: 15px;
}

div.wrapper-content aside.profile ul {
  margin-top: 20px;
  list-style: none;
}

div.wrapper-content aside.profile ul.list li {
  font-size: 14px;
  color: #657786;

  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 7px;
}

div.wrapper-content aside.profile ul.list li:first-child {
  margin: 0;
}

div.wrapper-content aside.profile ul.list li img {
  filter: invert(48%) sepia(9%) saturate(849%) hue-rotate(165deg) brightness(91%) contrast(85%);
}

div.wrapper-content aside.profile .widget {
  margin-top: 20px;
}

div.wrapper-content aside.profile .widget strong {
  font-weight: normal;
  color: #3bb9e3;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

div.wrapper-content aside.profile .widget strong img {
  filter: invert(48%) sepia(9%) saturate(849%) hue-rotate(165deg) brightness(91%) contrast(85%);
}

div.wrapper-content aside.profile .followers ul {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

div.wrapper-content aside.profile .followers ul li {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: #d0d5d9;
  margin: 0 5px 5px 0;
  flex: 1 0 auto;
}

div.wrapper-content aside.profile .images ul {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

div.wrapper-content aside.profile .images ul li {
  height: 80px;
  width: 80px;
  border-radius: 4px;
  background: #d0d5d9;
  margin: 0 5px 5px 0;
  flex: 1 0 auto;
}

div.wrapper-content aside.profile .images strong img {
  height: 17px;
  width: 18px;
}

div.wrapper-content .timeline {
  flex: 1;
}

div.wrapper-content aside.widgets {
  width: 290px;
  margin-top: 10px;
}

div.wrapper-content aside.widgets .widget {
  background: white;
  padding: 15px;
}

div.wrapper-content aside.widgets .widget .title {
  display: flex;
  align-items: baseline;
}

div.wrapper-content aside.widgets .widget .title strong {
  font-size: 18px;
  color: #1f2226;
}

div.wrapper-content aside.widgets .widget .title a {
  font-size: 12px;
  color: #3bb9e3;
  position: relative;
  padding-left: 10px;
}

div.wrapper-content aside.widgets .widget .title a::before {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #222;
  position: absolute;
  left: 4px;
  top: 6px;
}

div.wrapper-content aside.widgets .follow ul {
  list-style: none;
  margin-top: 10px;
}

div.wrapper-content aside.widgets .follow ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccd6dd;
  padding: 10px 0;
}

div.wrapper-content aside.widgets .follow ul li .profile {
  display: flex;
  align-items: center;
}

div.wrapper-content aside.widgets .follow ul li .profile img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

div.wrapper-content aside.widgets .follow ul li .profile .info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

div.wrapper-content aside.widgets .follow ul li .profile .info strong {
  font-size: 14px;
  color: #1f2326;
}

div.wrapper-content aside.widgets .follow ul li .profile .info strong span {
  font-weight: normal;
  color: #9a9a9a;
}

div.wrapper-content aside.widgets .follow ul li .profile .info button {
  height: 27px;
  margin-top: 4px;

  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid var(--azul);
  color: var(--azul);
  border-radius: 16px;
}

div.wrapper-content aside.widgets .follow ul li .profile > a {
}
